@model OrderModel
@{
    ViewData["Title"] = "AddOrders Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="loginBody">
    <main class="loginBox">       
        <header class="loginHeader">Zamówienie</header> 
            <div class="loginDiv">
                <input class="loginInput" asp-for="ClientName" placeholder="Model.ClientName"/>
            </div>
            <div class="loginDiv">
                <input class="loginInput" asp-for="isInvoke" />
            </div> 
            <div>
          @if (!Model.isSelect)
        {
            <a href='@Url.Action("ShowOrderList", "Document", Model)'>
            <button class="dodaj_produkt" type="button">Dodaj 3 produkt</button></a> <br />
        }        
        else
        {
            <select asp-items="Model.ProductSelectList" asp-for="selectId">Produkty</select> <br />
            <a href='@Url.Action("AddProductFromListOrder", "Document", Model)'>
            <button class="dodaj_produkt" type="button">Dodaj produkt</button></a> <br />
        }
        </div>
         <a href='@Url.Action("SaveOrder", "Document", new{model=Model})'>
        <button class="faktura" type="button">ZŁóż Zamówienie</button></a>
    </main>
</body>