@model OrderModel
@{
    ViewData["Title"] = "AddOrders Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="loginBody">
    <main class="loginBox">       
        <header class="loginHeader">Zamówienie</header>
        <form method="post"> 
            <div class="loginDiv">
                <input class="loginInput" placeholder="Nr zamówienia" spellcheck="false" />
            </div>
            <div class="loginDiv">
                <input class="loginInput" placeholder="Nazwa Klienta" spellcheck="false" />
            </div>
            <div class="loginDiv">
              @if (!Model.isSelect)
        {
            <a href='@Url.Action("ShowOrderList", "Document", Model)'>
            <button class="dodaj_produkt" type="button">Dodaj 3 produkt</button></a> <br />
        }        
        else
        {
            <select asp-items="Model.ProductSelectList" asp-for="selectId">Produkty</select> <br />
            <a href='@Url.Action("AddProductFromListOrder", "Document", Model)'>
            <button class="dodaj_produkt" type="button">Dodaj produkt</button></a> <br />
        }
            </div><br />
            <input class="loginInput" type="submit" value="Stwórz zamówienie" />
         </form>   
    </main>
</body>