@model OrderModel
@{
    ViewData["Title"] = "AddOrders Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="loginBody">
    <main class="loginBox">   
        <form>
        <header class="loginHeader">Zamówienie</header> 
            <div class="loginDiv">
                <input class="loginInput" asp-for="ClientName" placeholder="Model.ClientName"/>
            </div>
            <div class="loginDiv">
                <input class="loginInput" asp-for="isInvoke" />
            </div> 
            <div>
          @if (!Model.isSelect)
        {
            <a href='@Url.Action("ShowOrderList", "Document", Model)'>
            <button class="dodaj_produkt" type="button">Dodaj produkt</button></a> <br />
        }        
        else
        {
            <select asp-items="Model.ProductSelectList" asp-for="selectId">Produkty</select> <br />
            <a href='@Url.Action("AddProductFromListOrder", "Document", Model)'>
            <button class="dodaj_produkt" type="button">Dodaj produkt</button></a> <br />
        }
            </div><br />
            <section style="display:flex;">
                <div style="margin-left:3vw;">
                    <input type="checkbox" name="koperta"><br />
                    <label for="koperta" style="color:whitesmoke;"> Koperta</label>
                </div>
                <div style="margin-left:3vw;">
                    <input type="checkbox" name="karton"><br />
                    <label for="karton" style="color:whitesmoke;"> Karton</label>
                </div>
                <div style="margin-left:3vw;">
                    <input type="checkbox" name="paleta"><br />
                    <label for="paleta" style="color:whitesmoke;"> Paleta</label>
                </div>
            </section>
            <input class="loginInput" type="submit" value="Stwórz zamówienie" />
         </form>   
    </main>
</body>