@using NFZ.Entities
@model Receipt

@{
    ViewData["Title"] = "Orders Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h1 style="text-align:center; font-size:3vw">RECEIPT</h1>
    <div class="boxParagon">
        <h2 style="margin-left:45%">NFZ</h2>       
            <sector class="nabywca_sprzedawca">
                <div>
                    Sprzedawca<br/>
                    NIP: PL 1234567890<br/>
                    ul. Augustowska 77/13<br/>
                    16-310 Sztabin
                </div> 
                <div>
                    Nr:@Model.Number<br/>   
                    Data:(data wystawienia)<br/>
                    (dodatkowe informacje)
                </div>
            </sector><br/>
        <div class="line"></div> 
        <table class="produkty_faktura" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Lp
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Cena
                    </th>
                    <th>
                        VAT
                    </th>
                    <th>
                        Ilość
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Products)
                {
                <tr>
                    <td width="5%">
                        Lp
                    </td>
                    <td width="30%">
                        @obj.ProductMany.Name
                    </td>
                    <td width="15%">
                        @obj.ProductMany..Price
                    </td>
                    <td width="15%">
                        @obj.ProductMany.Vat
                    </td>
                    <td width="10%">
                        @obj.ProductCount
                    </td>                   
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>