@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body class="loginbody">
    <form class="registerBox" method="post" action="@Url.Action("RegisterConfirm", "Document", Model)">
        
            <h1>Register</h1>
            <tr>
                <div asp-validation-summary="All"></div>
                <td><label  class="registerLabel" asp-for="Login"></label></td>
                <td><input class="registerInputBox" asp-for="Login" class="form-control"></td>
                <td></td>
            </tr>
            <tr>
                <div class="registerLabel">Password</div>
                <td><input class="registerInputBox" type="password" class="form-control" name="password"></td>
            </tr>
            <tr>
                <div class="registerLabel">ConfirmPassword</div>
                <td><input class="registerInputBox" type="password" name="confirmPassword" class="form-control"></td>
            </tr>


            <tr>
                <td ><label class="registerLabel" asp-for="Name"></label></td>
                <td><input class="registerInputBox" asp-for="Name" class="form-control" /></td>

            </tr>
            <tr>
                <td ><label class="registerLabel" asp-for="SurName"></label></td>
                <td><input class="registerInputBox" asp-for="SurName" class="form-control" /></td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td ><input class="registerButton" type="submit" value="Register"></td>
            <BotDetect:WebFormsCaptcha ID="ExampleCaptcha" runat="server"
                                       UserInputID="CaptchaCodeTextBox" />
            </tr>
    </form>
</body>
<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
