@{
    ViewData["Title"] = "Login Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="loginBody">
    <main class="loginBox">
        <header class="loginHeader">Zaloguj się</header>
        <form method="post"> 
            <div class="loginDiv">
                <input class="loginInput" placeholder="Login" spellcheck="false" />
            </div>
            <div class="loginDiv">
                <input class="loginInput" type="password" placeholder ="Hasło" />
            </div><br />
            <input class="loginInput" type="submit" value="Zaloguj się" />
         </form>   
    </main>

</body>